<table class="table table-striped table-condensed">
  <tr>
    <th>Team Name</th>
    <th>Owner</th>
    <th>Score</th>
    <th>Salary</th>
    <th>Efficiency(Score Per Million)</th>
    <th></th>
  </tr>
      <%= render(@teams) || "There are no teams yet." %>
</table>

<script type="text/javascript">
  $(document).ready(loadRoster);

  function loadRoster(){
    $(".js-roster").on("click", function() {
      var id = $(this).data("id");

      $.get('/teams/' + id + '.json', function(data){
        var players = data["team"]["players"];
        $('#rosterCell-' + id).html(makeRosterHTML(id, players));
        hideRoster();
      })
    });
  };

  function makeRosterHTML(id, roster){
    var rosterHTML = '<ol>'
    $.each(roster, function(i, player){
      rosterHTML += '<li><a href="/players/' + player.id + '">' +  player.name + '</li>';
    });
    rosterHTML += '</ol><a href="#" class="js-hide-roster btn btn-primary btn-xs" data-id="' + id + '">Hide Roster</a>';
    return rosterHTML;
  };

  function hideRoster(){
    $(".js-hide-roster").on("click", function() {
      var id = $(this).data("id");
      $('#rosterCell-' + id).html('<a href="#" class="js-roster btn btn-primary btn-xs" data-id="' + id + '">See Roster</a>');
      loadRoster();
    });
  };

</script>
