<% if @league.nil? %>
  <h1>All Team Rankings</h1>
<% else %>
  <h1><%= @league.name %> League Rankings</h1>
<% end %>
<% if !current_user.nil? && current_user.team.nil? %>
  <%= link_to "Click here to create a team", new_team_path %>
<% end %>
<%= render "team_table" %>