<% if @league.nil? %>
  <h1>All Team Rankings</h1>
<% else %>
  <h1><%= @league.name %> League Rankings</h1>
<% end %>
<% if !current_user.nil? && current_user.team.nil? %>
  <%= link_to "Click here to create a team", new_team_path %>
<% end %>
<table class="table table-striped table-condensed">
  <tr>
    <th>Team Name</th>
    <th>Owner</th>
    <th>Score</th>  
    <th>Salary</th>
    <th>Efficiency(Score Per Million)</th>
  </tr>
      <%= render(@teams) || "There are no teams yet." %>
</table>