<table class="table table-striped table-condensed">
  <tr>
    <th>League Name</th>
    <th>Commissioner</th>
    <th>Teams</th>  
  </tr>
      <%= render(@leagues) || "There are no leagues yet." %>
</table>