<h1>Top 10 Most Popular Players</h1>
<% if !current_user.nil? && !current_user.team.nil? %>
  <h4>You have <%= number_to_currency(current_user.team.salary_remaining, precision: 0) %> to add players.</h4>
<% end %>
<%= render 'players/player_table' %>